<footer>
  <div class="footer-content">
    <div class="footer-column">
      <div class="company-name">Eleven</div>
      <div class="address">Av Dr Luis M. Argana 9000 - Shopping Paris - Planta Baja - Salon 26/27
Ciudad: Ciudad Del Este - PY
Estado: Alto Paraná</div>
    </div>
    <div class="footer-column">
      <div class="developers">Desenvolvido por:</div>
      <div class="developers">Anderso Paulino</div>
      <div class="developers">Matheus Aguiar</div>
      <div class="developers">Matheus Krohn</div>
      <div class="developers">Lucas Gimenez</div>
    </div>
  </div>
</footer>