<div class="container">
    <h3 class="alert alert-primary">Listagem de Movimentações</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#ID Movimentação</th>
                    <th scope="col" class="text-center">Produto</th>
                    <th scope="col" class="text-center">Tipo do Produto</th>
                    <th scope="col" class="text-center">Entrada</th>
                    <th scope="col" class="text-center">Saída</th>
                    <th scope="col" class="text-center">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movimentacao of estoque.movimentacao; let i = index">
                    <td class="text-center">{{ movimentacao.id }}</td>
                    <td class="text-center">{{ movimentacao.produtos.nome }}</td>
                    <td class="text-center">{{ movimentacao.produtos.tipo }}</td>
                    <td class="text-center">{{ movimentacao.entrada }}</td>
                    <td class="text-center">{{ movimentacao.saida }}</td>
                    <td class="text-center">{{ movimentacao.valorTotal }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
