<div class="container">
    <h3 class="alert alert-primary">Listagem de Estoques</h3>
    <button type="button" class="btn btn-primary btn1" (click)="adicionar(modal)">Adicionar</button>
    <table class="table table-striped table-bordered table-responsive">
        <thead>
            <th scope="col" class="text-center">#ID</th>
            <th scope="col" class="text-center">Nome Estoque</th>
            <th scope="col" class="text-center">Registro</th>
            <th scope="col" class="text-center">Estado</th>
            <th scope="col" class="text-center">Ultima Atualização</th>
            <th scope="col" class="text-center">Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let estoque of list; let i = index">
                <td class="text-center">{{ estoque.id }}</td>
                <td class="text-center">{{ estoque.nomeEstoque }}</td>
                <td class="text-center">{{ estoque.registro }}</td>
                <td class="text-center">{{ estoque.ativo }}</td>
                <td class="text-center">{{ estoque.atualizar }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary"(click)="acessar(i)">Acessar</button>
                    <button type="button" class="btn btn-primary" (click)="editar(modal, estoque, i)">Editar</button>
                </td>    
            </tr>
        </tbody>
    </table>    
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal Estoque</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-estoquedetails [estoque]="estoqueSelecionadoParaEdicao"
            (retorno)="addOuEditarEstoque($event)"></app-estoquedetails>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>
<style class="css">
    button{
        margin-left: 10px;
    }
    .btn1{
        margin: 10px;
    }
</style>