<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
<form id="form" class="form">
    <div class="username">
    <input
        id="username"
        type="text"
        name="username"
        placeholder="Digite seu Username..."
        [(ngModel)]="cadastro.username"
    />
    <small>Mensagem de erro</small>
    </div>

    <div class="password">
    <input
        id="password"
        type="password"
        name="senha"
        placeholder="Digite sua Senha..."
        [(ngModel)]="cadastro.password"
    />
    <small>Mensagem de erro</small>
    </div>

    <div class="role">
    <input
        id="role"
        type="text"
        name="role"
        placeholder="Digite o papel do usuario..."
        [(ngModel)]="cadastro.role"
    />
    <small>Mensagem de erro</small>
    </div>

    <button type="submit" nome="acao" value="Cadastrar" (click)="cadastrar()">Cadastrar</button>
    <hr />
    <a (click)="logar()">Login</a>
</form>
<style class="css">
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffff;
}
form {
  background: linear-gradient(45deg, #faffce, #79dae8, #0aa1dd, #450f9c);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  max-width: 500px;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
form h1 {
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
}
form h2 {
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 40px;
}
form input[type="text"],
form input[type="password"] {
  font-family: "Poppins";
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
  border-radius: 20px;
}
form button[type="submit"] {
  position: relative;
  top: 10px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  size: 30px;
  width: 100%;
  height: 40px;
  /* Para o usuário saber que o botão é clicavel*/
  cursor: pointer;
  background: #009dae;
  color: white;
  border: 0;
  border-radius: 20px;
  transition: 0.5s;
}
form input[type="submit"]:hover {
  background-color: #007c8a;
}

form button[type="submit"]:active {
  background-color: #79dae8;
}