<section id="section-login">
  <h1 id="h1_titulo">ELEVEN</h1>
  <form id="form" class="form">

    <div class="Email">
      <input id="email" type="text" name="email" placeholder="Digite seu E-mail..." />
      <small>Mensagem de erro</small>
    </div>

    <div class="password">
      <input id="password" type="password" name="senha" placeholder="Digite sua Senha..." />
      <small>Mensagem de erro</small>
    </div>

    <div class="confirmPassword">
      <input id="passwordconfirmation" type="password" name="confirmasenha" placeholder="Confirme sua Senha..." />
      <small>Mensagem de erro</small>
    </div>

    <hr />

    <button>Cadastrar</button>
    
    <button (click)="logar()">Login</button>

  </form>
</section>