<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <a class="btn" href="/admin/menu">
          Eleven
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a id="text1" class="nav-link {{ isRouteActive('/admin/estoque') ? 'active' : '' }}" aria-current="page" href="/admin/estoque">Estoque</a>
              </li>
              <li class="nav-item">
                  <a id="text1" class="nav-link {{ isRouteActive('/admin/movimentacao') ? 'active' : '' }}" aria-current="page" href="/admin/movimentacao">Movimentação</a>
              </li>
              <li class="nav-item">
                  <a id="text1" class="nav-link {{ isRouteActive('/admin/produto') ? 'active' : '' }}" aria-current="page" href="/admin/produto">Produto</a>
              </li>
              <li class="nav-item">
                  <a id="text1" class="nav-link {{ isRouteActive('/admin/tipo') ? 'active' : '' }}" aria-current="page" href="/admin/tipo">Tipo</a>
              </li>
              <li id="li_sair" class="nav-item">
                  <a  id="sair" class="nav-link {{ isRouteActive('/login') ? 'active' : '' }}" aria-current="page" href="/login">Sair</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
