<section id="teste">
<div class="container">
    <h3 class="alert">Produtos</h3>
    <button type="button" class="btn btn1" (click)="adicionar(modal1)">Adicionar</button>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" [(ngModel)]="filtro" placeholder="Filtrar por nome" class="form-control" (keyup.enter)="applyOrClearFilter()"/>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col" (click)="sortById()" class="text-center">#ID
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortByIdDirection === 'asc', 'fa-arrow-down': sortByIdDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortName()" class="text-center">Nome
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortNameDirection === 'asc', 'fa-arrow-down': sortNameDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortNameTipo()" class="text-center">Tipo
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortNameTipoDirection === 'asc', 'fa-arrow-down': sortNameTipoDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortStatus()" class="text-center">Status
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortStatusDirection === 'asc', 'fa-arrow-down': sortStatusDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortRegistro()" class="text-center">Registrado Em
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortRegistroDirection === 'asc', 'fa-arrow-down': sortRegistroDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortAtualizar()" class="text-center">Atualizado Em
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortAtualizarDirection === 'asc', 'fa-arrow-down': sortAtualizarDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" (click)="sortDescricao()" class="text-center">Descrição
                            <i class="fas"
                                [ngClass]="{'fa-arrow-up': sortDescricaoDirection === 'asc', 'fa-arrow-down': sortDescricaoDirection === 'desc'}"></i>
                        </th>
                        <th scope="col" class="text-center" colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dentro do loop *ngFor para listar os produtos -->
                    <tr *ngFor="let produto of lista; let i = index">
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.tipo.nameTipo }}</td>
                        <td>{{ produto.ativo ? 'Ativo' : 'Inativo' }}</td>
                        <td>{{ formatData(produto.registro) }}</td>
                        <td>{{ formatData(produto.atualizar) }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td><button class="btn btn-primary" (click)="editar(modal1, produto, i)">Editar</button></td>
                        <td *ngIf="modoLancamento"> <button type="button" class="btn btn-primary" (click)="lancamento(produto)">Lançar</button> </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<ng-template #modal1 let-modal>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Produto</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <app-produtodetails [produto]="produtoSelecionadoParaEdicao" (retorno)="addOuEditarProduto($event)"></app-produtodetails>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
            </div>
        </div>
    </div>
</ng-template>

</section>